{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
    <nav><h1>Flash Cards</h1></nav>
    <a href="{% url 'create_flashcard' %}">Create a flashcard</a>
    </header>
<main>
    <div class="cardContainer">
        {%for flashcard in flash_card_list%}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>{{flashcard.name}}</h1>
                    <h2>{{flashcard.front}}</h2>
                </div>
                <div class="flip-card-back">
                    <h1>{{flashcard.name}}</h1>
                    <p>{{flashcard.back}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</main>
</body>
</html>
